.card-img-left {
  width: 45%;
  background: scroll center
    url("https://www.impactbnd.com/hubfs/Inbound%20Success%20Podcast/Blog%20Images/web-developer-characteristics.jpg");
  background-size: cover;
}
